
<div id="hero" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" id="contact">
    <div class="carousel-item active">

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7 col-lg-8">
            <div class="carousel-caption text-center text-md-left py-8">
              <h1 class="display-1">Contact Us</h1>
              <div class="d-md-none px-4">
                {% include /swc/heros/hero-sidebar-contact.html %}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-4 offset-lg-0 d-none d-md-block">
            <div class="sidebar-cta text-center p-4">
              {% include /swc/heros/hero-sidebar-contact.html %}
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
