<h4 class="d-none d-md-block">Become a Certified Food Handler</h4>
<p class="m-0 pb-5 pb-md-0 d-none d-lg-block">All the training you need for your Food Handler Certificate<span class="d-md-none"> for only $74.95</span>.</p>
<p class="m-0 pb-5 pb-md-0 d-none d-md-block d-lg-none">Everything you need for your Food Handler Certificate.</p>
<p class="m-0 pb-5 pb-md-0 d-md-none">All the training you need for your Food Handler Certificate for only $74.95 (Discount Price, You Save $25).</p>

<div class="price mt-3 mb-3 d-none d-lg-block">
    <span class="display-1 font-weight-bold">$74.95</span>
    <p class="m-0 p-0">Discount Price, You Save $25</p>
</div>

<a href="{{ page.cta }}" class="btn btn-cta mt-md-3 mt-lg-0">Sign Up</a>
