<div id="hero" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" id="home">
    <div class="carousel-item active">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="carousel-caption text-center py-8 px-4 px-md-0">

              <h1 class="display-1">Become a Certified <span class="highlight">Food Handler</span></h1>
              <p>Be confident you’re getting the training you need to meet Canadian food safety laws.</p>

              <a class="btn btn-cta mt-3" href="{{ page.cta }}" role="button">Learn More</a>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
