<div class="row">
<div class="col-6">
    <h5 class="text-uppercase mb-3 d-none d-md-block">Overview</h5>
    <ul class="navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/food-handler-certification-course">Course</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
</div>

<div class="col-6">
      <h5 class="text-uppercase mb-3 d-none d-md-block">Support</h5>
      <ul class="navbar-nav">
        <li>
          <a href="/common-questions">FAQs</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="https://my.servewell.ca/customer/account/login">Login</a>
        </li>
      </ul>
</div>
</div>
