<div class="wrap white px-4 px-md-0">
    <footer class="py-6">
        <div class="container text-center text-md-left">
          <div class="row">
            <div class="col-12 col-md-8 pr-md-5 col-lg-9 pr-lg-9">
              <a href="/"><img class="mb-4" src='{{ "/assets/swc/img/logo/swc-logo-color.svg" | relative_url }}' /></a>

              <span class="d-block d-md-none mb-4">
                {% include /swc/footer/footer-nav.html %}
              </span>
              <p>Copyright {{ 'now' | date: "%Y" }} © ServeWell. All rights reserved. ServeWell, servewell.ca and the ServeWell logo are trademarks of ServeWell. All other trademarks are the property of their respective owners. Any advice or recommendations should be considered a guide only. For guidance on any issues addressed on this website, please consult your local government agency. ServeWell is a leading provider of recognized Food Handler Certification Courses. All recognized training is delivered by ServeWell.</p>
              <p>
                <a class="mr-3" href="/security">Security Policy</a> <a class="mr-3" href="/refund">Refund Policy</a> <a class="mr-3" href="/privacy">Privacy Policy</a> <a class="mr-3" href="/terms">Terms of Use</a>
              </p>
            </div>

            <span class="col-12 col-md-4 col-lg-3 d-none d-md-block">
              {% include /swc/footer/footer-nav.html %}
            </span>

          </div>
        </div>


    </footer>
</div>
