
<div class="container">

  <div class="feature py-6 text-center">
    <h2 class="mb-7">Your certificate’s only 3 steps away</h2>

    <div class="row display-flex">
      <div class="col-12 col-md-4 ">
        <div class="container">
          <div class="row home-card">
            <div class="col-3 col-lg-2 sidebar">
              <p class="pt-3"><span>1</span>Study</p>
            </div>
            <div class="col-9 col-lg-10">
              <img class="card-img-top w-50 mx-auto" src="/assets/swc/img/pages/swc-home-03.png" alt="Study">
              <div class="card-body px-0 py-4 p-lg-4">
                <p class="card-text">Access the course online on any device <span class="d-none d-lg-block">and at anytime.</span><span class="d-lg-none">at anytime.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-7 pt-md-0">
        <div class="container">
          <div class="row home-card">
            <div class="col-3 col-lg-2 sidebar">
              <p class="pt-3"><span>2</span>Pass</p>
            </div>
            <div class="col-9 col-lg-10">
              <img class="card-img-top w-50 mx-auto" src="/assets/swc/img/pages/swc-home-04.png" alt="Pass">
              <div class="card-body px-0 py-4 p-lg-4">
                <p class="card-text">Complete the online exam (no scheduling required).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 pt-7 pt-md-0">
        <div class="container">
          <div class="row home-card">
            <div class="col-3 col-lg-2 sidebar">
              <p class="pt-3"><span>3</span>Print</p>
            </div>
            <div class="col-9 col-lg-10">
              <img class="card-img-top w-50 mx-auto" src="/assets/swc/img/pages/swc-home-05.png" alt="Print">
              <div class="card-body px-0 py-4 p-lg-4">
                <p class="card-text">Your official certificate will be emailed to you right away.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
