


    <div class="container">

        <div class="feature row align-items-center">
          <div class="col-12 col-md-5">
              <img class="img-fluid my-auto" src='{{ "/assets/swc/img/pages/swc-home-02.jpg" | relative_url }}' />
          </div>
            <div class="col-12 col-md-6 my-6 offset-md-1">
              <div>
                  <h2 class="mb-4">The ServeWell Difference</h2>
                  <p>Understanding Canadian Food Safety laws can be confusing. ServeWell helps you make sense of it all by taking complicated information and breaking it down into simple lessons, so you’ll get the food safety training you need.</p>
              </div>
            </div>

        </div>

    </div>
