
    <div class="container">

        <div class="feature row align-items-center">
            <div class="col-12 col-md-6 my-6">
              <div>
                  <h2 class="mb-4">Why do I need a Food Handler’s Certificate?</h2>
                  <p>In most Canadian provinces, a certified Food Handler must always be present whenever food is being prepared or served.</p>
                  <p>If you own a business or work in the food industry, you'll need food safety training to keep your brand and your customers safe.</p>
              </div>
            </div>
            <div class="col-5 d-none d-sm-none d-md-block offset-md-1">
                <img class="img-fluid my-auto" src='{{ "/assets/swc/img/pages/swc-home-01.jpg" | relative_url }}' />
            </div>
        </div>

    </div>
