<div class="container">
  <div class="row py-6">
    <div class="col-12 col-md-6">
      <h2 class="mb-5">ServeWell helps make sense of food safety laws</h2>
    </div>
    <div class="col-12 col-lg-8">
      <p>Understanding Canadian Food Safety laws and regulations can be confusing. Health Canada is responsible for setting the food safety standards, The Canadian Food Inspection Agency is responsible for enforcing those policies while Food Handler Certification requirements are set and enforced on provincial and municipal levels.</p>
      <p>ServeWell is committed to helping Canadian businesses and their employees navigate the food services industry. We breakdown the hard stuff, so you don’t have to. Our training helps turn food safety regulations into simple everyday best practices. If you have a business or are working in the industry, our course is made for you.</p>
    </div>
  </div>
</div>
