<div class="container py-6">
    <div class="cta row align-items-center">
        <div class="col-12 text-center">
            <h2>Become a Food Handler for only <span class="d-none d-md-block d-lg-none"></span><span class="highlight">$74.95</span>
              <p class="promo">
                <span class="highlight">Discount Price</span><br><strong>You Save $25</strong> 
              </p>
            </h2>
            <div class="col-12 col-md-8 offset-md-2">
              <blockquote class="my-4 blockquote pb-3">"{{ page.review }}"<div class="reviewer pt-2">- {{ page.reviewer }}</div></blockquote>
            </div>

            <div class="row text-left">

              <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-3 mb-3">
                <div class="media">
                  <img src="/assets/swc/img/icons/check-light.svg" class="w-20 py-2 mr-3" alt="30 day unlimited course access">
                  <div class="media-body pr-3">
                    <p>30 day unlimited course access</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-5 offset-md-0 col-lg-3 mb-3">
                <div class="media">
                  <img src="/assets/swc/img/icons/check-light.svg" class="w-20 py-2 mr-3" alt="Certificates issued same-day">
                  <div class="media-body pr-3">
                    <p>Certificates issued same-day</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row text-left">

              <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-3 mb-3">
                <div class="media">
                  <img src="/assets/swc/img/icons/check-light.svg" class="w-20 py-2 mr-3" alt="Includes the online exam">
                  <div class="media-body pr-3">
                    <p>Online exam with unlimited attempts</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-5 offset-md-0 col-lg-3 mb-3">
                <div class="media">
                  <img src="/assets/swc/img/icons/check-light.svg" class="w-20 py-2 mr-3" alt="Bonus: Food Safety Resource kit">
                  <div class="media-body pr-3">
                    <p>Bonus: Food Safety Resource kit</p>
                  </div>
                </div>
              </div>

            </div>


            <a href="{{ page.cta }}" class="btn btn-cta mb-3">{{ page.cta-text }}</a>
        </div>
    </div>
</div>
