<div class="container">

    <div class="statistic row align-items-center">
      <div class="col-12 col-md-5">
          <img class="img-fluid my-auto" src='{{ "/assets/swc/img/pages/course-01.jpg" | relative_url }}' />
      </div>
      <div class="col-12 col-md-5 my-6 offset-md-1">
        <h2 class="mb-4">How it works</h2>


          <div class="media mb-3">
            <div class="icon my-2 mr-3">1</div>
            <div class="media-body">
              <p><strong>Study:</strong> You'll have 30-day unlimited access to the online course.</p>
            </div>
          </div>

          <div class="media mb-3">
            <div class="icon my-2 mr-3">2</div>
            <div class="media-body">
              <p><strong>Pass:</strong> When ready, complete the multiple choice final exam online.</p>
            </div>
          </div>

          <div class="media mb-3">
            <div class="icon my-2 mr-3">3</div>
            <div class="media-body">
              <p><strong>You're certified:</strong> You’ll receive your certificate by email in minutes.</p>
            </div>
          </div>

      </div>

    </div>

</div>
