


<div class="container">

    <div class="feature row align-items-center">
        <div class="col-12 col-md-6 my-6">
          <div>
              <h2 class="mb-4">{{ page.laws-title-03 }}</h2>
              {{ page.laws-body-03 }}
          </div>
        </div>
        <div class="col-5 d-none d-sm-none d-md-block offset-md-1">
            <img class="img-fluid my-auto" src="/assets/swc/img/pages/{{ page.province }}-03.jpg" alt="{{ page.laws-title-03 }}"/>
        </div>
    </div>

</div>
