<div class="container">
  <div class="feature row py-6">
    <div class="col-12">
      <h2 class="mb-5">What's included</h2>
    </div>
    <div class="col-12 col-md-6">
      <div class="media mb-3">
        <div class="icon mr-3 my-2"><img src="/assets/swc/img/icons/laptop-light.svg" alt="Laptop"></div>
        <div class="media-body">
          <p>Immediate online course access, so you can study at your own pace on any device, anywhere.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="media mb-3">
        <div class="icon mr-3 my-2"><img src="/assets/swc/img/icons/notes-light.svg" alt="Course Notes"></div>
        <div class="media-body">
          <p>Course notes and practice tests, to equip you with all the learning materials you need.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="media mb-3">
        <div class="icon mr-3 my-2"><img src="/assets/swc/img/icons/webcam-light.svg" alt="Online Final Exam"></div>
        <div class="media-body">
          <p>The online final exam, which includes an unlimited number of exam attempts.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="media mb-3">
        <div class="icon mr-3 my-2"><img src="/assets/swc/img/icons/cloud-light.svg" alt="Digital Certificate"></div>
        <div class="media-body">
          <p>A digital certificate, so there's no need to worry about losing a paper copy.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="media mb-3">
        <div class="icon mr-3 my-2"><img src="/assets/swc/img/icons/gift-light.svg" alt="Free Gift"></div>
        <div class="media-body">
          <p>A downloadable Food Safety Resource kit as an added bonus.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="media mb-3">
        <div class="icon mr-3 my-2"><img src="/assets/swc/img/icons/person-light.svg" alt="Support"></div>
        <div class="media-body">
          <p>Support via email and telephone to answer any questions you might have.</p>
        </div>
      </div>
    </div>
  </div>
</div>
