<div class="container">
  <div class="feature row py-6">
    <div class="col-12">
      <h2 class="mb-5">What you'll learn</h2>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Understanding food contamination</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Food-borne illness & allergy management</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Food safety laws & responsibilities</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Personal hygiene & workplace behaviour</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Time & temperature control</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Proper cleaning & sanitizing methods</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Maintaining food premises & equipment</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Purchasing, receiving, storing food safely</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Safe preparation of food</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Serving & dispensing food safely</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>Managing your food safety plan</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
      <div class="media mb-3">
        <img src="/assets/swc/img/icons/check-dark.svg" class="w-20 py-2 mr-3" alt="Checkmark">
        <div class="media-body">
          <p>HACCP and its 7 principles</p>
        </div>
      </div>
    </div>
  </div>
</div>
