<div class="container">

  <div class="statistic row align-items-center">
    <div class="col-12 col-md-5">
      <img class="img-fluid my-auto" src='{{ "/assets/swc/img/pages/course-02.jpg" | relative_url }}' />
    </div>
    <div class="col-12 col-md-6 my-6 offset-md-1">
      <h2 class="mb-4">What they’re saying</h2>

      <div class="row no-gutters align-items-center mb-2">
        <div class="col-12 col-lg-3 col-xl-2 percent">99<sup>%</sup></div>
        <div class="col-12 col-lg-7 col-xl-7">of students would recommend this course to others.</div>
      </div>

      <div class="row no-gutters align-items-center mb-2">
        <div class="col-12 col-lg-3 col-xl-2 percent">96<sup>%</sup></div>
        <div class="col-12 col-lg-7 col-xl-7">of students enjoyed the course structure and learning material.</div>
      </div>

      <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg-3 col-xl-2 percent">98<sup>%</sup></div>
        <div class="col-12 col-lg-7 col-xl-7">of students thought the online course was easy to use.</div>
      </div>

    </div>
  </div>

</div>
