/*
#############################################
    Bootstrap Breakpoint Inspector
    Development Use Only
#############################################
*/

.inspect {
    padding:0.25rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: #222;
    background:$white;
    width:100%;
}
