<header class="navbar navbar-expand-md flex-row py-2 py-lg-3 navbar-light">
  <div class="container">

    <a href="/" class="navbar-brand ">
      <div class="logo primary d-block d-md-none d-lg-block mx-2 mb-0">&nbsp;</div>
      <div class="logo icon d-none d-md-block d-lg-none">&nbsp;</div>
    </a>

    <button class="navbar-toggler px-0 py-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center mt-2 mt-md-0" id="navigation">

      <ul class="navbar-nav ml-0 py-3 py-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/food-handler-certification-course">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/common-questions">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link" href="https://my.servewell.ca/customer/account/login">Course Login</a>
        </li>
      </ul>

      <div class="ml-md-auto"></div>
      <a href="https://my.servewell.ca/customer/account/login" class="d-none d-md-inline-block btn btn-sm">Course Login</a>
      <a href="https://my.servewell.ca/urlcheckout/add?product=7&qty=1" class="d-none d-md-inline-block btn btn-sm btn-outline-light">Sign Up</a>

    </div>
  </div>
</header>
