---
layout: default
title: Food Handler Certificate Course

---

{% include /swc/jsonld/json-product.html %}
{% include /swc/jsonld/json-organization.html %}
{% include /swc/jsonld/json-webpage.html %}
{% include /swc/heros/hero-course.html %}

<div class="wrap white px-4 px-md-0">
    {% include /swc/sections/whats-included.html %}
</div>

<div class="wrap light px-4 px-md-0">
    {% include /swc/sections/how-it-works.html %}
</div>
<div class="wrap white px-4 px-md-0">
    {% include /swc/sections/what-youll-learn.html %}
</div>
<div class="wrap light px-4 px-md-0">
    {% include /swc/sections/what-theyre-saying.html %}
</div>
<div class="wrap white px-4 px-md-0">
    {% include /swc/sections/common-questions-short.html %}
</div>
<div class="wrap dark gradient px-4 px-md-0">
  {% include /swc/sections/cta-section.html %}
</div>
