---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-CA" }}">
<head>
    {% include /shared/gtm-head.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }} | {{ site.title }}</title>
    {% include /integrations/swc/fonts.html %}
    <link rel="stylesheet" href="{{ "/assets/swc/css/animate.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/stylesheets/main.css" | relative_url }}">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/swc/img/logo/favicon.png">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}"/>
    <meta name="keywords" content="{{ page.keywords }}" />
    <link rel="canonical" href="https://www.servewell.{{ page.domain }}{{ page.url | slice: 4, 999 }}" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    {% include /shared/mixpanel.html %}
    {% include /shared/customerio.html %}
    {% include /shared/new-relic.html %}

</head>
<body>
    {% include /shared/gtm-body.html %}
    {% include /swc/header.html %}
    {{ content }}
    {% include /swc/footer/footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {% include /integrations/swc/mcl-campaign.html %}
</body>
</html>
